@import "tailwindcss";

:root {
  --font-mono: 'Roboto Mono', monospace;

  /* Light and dark colors */
  --color-dark: rgb(0, 0, 0);
  --color-light: rgb(255, 255, 255);
}

body {
  font-family: system-ui, sans-serif;
  color: var(--color-light);
  background: var(--color-dark);
}
